<%= provide(:title, 'Resend Confirmation Instructions / 重新寄送確認信') %>
<h2>Resend confirmation instructions</h2>

<div class="row">
  <div class="span6 offset3">
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  		<% if resource.errors.any? %>
        	<div class="alert alert-error fade in">
        	<a class="close" data-dismiss="alert" href="#">&times;</a>
        	<%= devise_error_messages! %>
        	</div>
        <% end %>

  		<div><%= f.label :email %>
  		<%= f.email_field :email %></div>

  		<div><%= f.submit "Resend confirmation instructions", class: "btn btn-large btn-primary" %></div>
	<% end %>
	<%= render :partial => "devise/shared/links" %>
  </div>
</div>